<div class="wrapper fadeInDown">
    <div id="formContent">
      <h1 id = 'errorMassage'>{{errorMassage}}</h1>
      <form>
        <input type="text" [(ngModel)]="userid" id="userid" class="fadeIn second" name="login" placeholder="login"><br><br>
        <input type="password" [(ngModel)]="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <button (click)="itemClicked()" type="button" class="fadeIn fourth" value="Log In">Log</button>
      </form>
    </div>
  </div>
